impl/src/main/resources/org/jboss/cdi/tck/tests/lookup/injection/non/contextual/ws/SheepWS_schema1.xsd

<xs:schema xmlns:tns="http://ws.contextual.non.injection.lookup.tests.tck.cdi.jboss.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.contextual.non.injection.lookup.tests.tck.cdi.jboss.org/" version="1.0">

  <xs:element name="isSheepInjected" type="tns:isSheepInjected"></xs:element>

  <xs:element name="isSheepInjectedResponse" type="tns:isSheepInjectedResponse"></xs:element>

  <xs:complexType name="isSheepInjected">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="isSheepInjectedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
