impl/src/main/resources/org/jboss/cdi/tck/tests/context/request/ws/Translator_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://ws.request.context.tests.tck.cdi.jboss.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.request.context.tests.tck.cdi.jboss.org/" version="1.0">
<xs:element name="translate" type="tns:translate"/>
<xs:element name="translateResponse" type="tns:translateResponse"/>
<xs:complexType name="translate">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="translateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
